/*index*/
.detail_btn{display: block;position: absolute;font-size: 16px; left: 100px;top: 300px;color: #fff;border: 1px solid #fff;border-radius:5px ;padding: 5px 30px;}
.expand_list li{float: left;padding: 25px 30px;text-align: center;position: relative;}
.expand_list p{font-size: 24px;color: #666666;margin: 5px 0;}

#users{background: url(../images/user_emial.png) no-repeat 0 -6px;padding-left:23px ;}
#emails{background: url(../images/user_emial.png) no-repeat 0 -32px;padding-left:23px ;}
/*shop*/
.shop_list{padding: 16px 0;}
.shop_list table{width: 100%;}
.shop_list table td{padding:16px 10px ;}
.shop_list table td img{width: 128px;height: 127px;}
.shop_list table td div{padding: 0 5px;}
.shop_list table td h3{font-size: 16px;padding: 10px 0;font-weight: bold;}
.shop_list table td p{font-size: 14px;line-height: 25px;}
.shop_list table td label{font-size: 14px;line-height: 25px;color: #ff6a10;padding-top: 10px;padding-bottom: 5px;display: block;}
.moban li{height:200px;}
.no_open{margin: 125px auto;padding-left: 200px;line-height: 100px;font-size: 16px;font-weight: 700;}
.search_btn{background: #ff7b2c;color: #fff;border: 1px solid #ff7b2c;}
.search_btn:hover{background: #ff6b12;}
.submit_btn{font-size: 16px;width: 88px;height: 35px;line-height: 35px;}

.scale_box{display: inline-block;border: 1px solid #ced3de;color: #666666;padding: 0 5px;border-radius: 2px;line-height:26px;left: 5px;position: relative;}
.scale_box .scale_input{border: none;border: 0;width: 30px;}

.domain_tab_ul li{float: left;}
.domain_tab_ul li a{display: inline-block;margin-left:10px ;padding: 3px 15px;color: #fff;background: #879abf;border-radius:5px 5px 0 0 ;}
.domain_tab_ul li a.cur,.domain_tab_ul li a:hover{background: #6488cd;}
.domain_table th,.domain_table_center th{background: #f5f5f5;padding: 10px 5px;}
.domain_table td,.domain_table_center td{padding: 10px 5px;border-bottom: 1px solid #eeeeee;word-break: break-all;line-height:28px;}
.domain_table .caozuo a,.domain_table_center .caozuo a{margin: 0 5px;}
.domain_table td a:hover,.domain_table_center td a:hover{text-decoration: underline;}
.domain_table th{text-align: left;}
.domain_table_center td{text-align: center;}
.domain_table_gray th{background: #ededed;}

.domain_details_title{background: #fff0e7;text-align: center;}
.domain_details_title span{font-size: 30px;color: #ff6a10;line-height: 88px;font-weight:700 ;}
.domain_details_list{border: 1px solid #e0e0e0;}
.domain_details_list td{text-align: center;}
.domain_details_list td div{border-right:1px solid #e0e0e0;margin: 10px 0;}
.domain_details_list td div p{color: #ff6a10;line-height: 30px;font-size: 16px;}
.domain_details_list td div span{color: #666;font-weight: 700;}
.domain_details_list td div.noborder{border: none;border: 0;}

.form_table{margin: 0 auto;font-size: 14px;color: #666f80;}
.form_table td{padding: 15px 0; word-break: break-all;}
.form_table input{width: 280px;height: 35px;line-height: 35px;color: #888;padding: 0 10px;border: 1px solid #c4cad5; border-radius:5px ;}
.form_table select{width: 300px;height: 35px;line-height: 35px; border-radius:5px ;border: 1px solid #c4cad5;color: #666;}
.form_table textarea{width: 280px;height: 100px; padding: 0 10px;line-height: 35px; border-radius:5px ;border: 1px solid #c4cad5;color: #888;}

.pattern_box{padding: 20px;}
.pattern_box li{float: left;padding: 0 0px;width: 240px;text-align: center;position: relative;}
.pattern_box li a{display: inline-block;position: relative;}
.pattern_box .active i{width: 50px;height: 49px;position: absolute;bottom: 0;right: 0;display: block;background: url(../images/muban_change.png) no-repeat;}
.pattern_box li p{padding: 10px 0;}

.step_box{background: #f9f9f9;padding:0 10px;margin: 10px 0;}
.step_box h3{color: #ff6a10;font-size: 20px;border-bottom: 1px solid #c8cdd7;height: 50px;line-height: 50px;padding-left: 20px;}
.step_box .notice{background: #fef0e5;color: #ff5a00;padding: 10px 20px;font-size: 12px;margin: 10px 0;}

.step_box2{padding:0 10px;margin: 10px 0;}
.step_box2 h3{color: #ff6a10;font-size: 16px;height: 40px;line-height: 40px;padding-left: 20px;background: #fff0e7;font-weight: 700;}
.step_box2 .notice{color: #ff5a00;padding: 10px 20px;font-size: 12px;margin: 10px 0;}

.step3til{color: #666f80;font-weight: 700;padding-left: 20px;margin-top: 15px;}
.step3ul{margin: 40px auto;display:table;}
.step3ul>li{float: left;font-size: 12px; background: #f86e37;color: #fff;border-right:1px solid #fff ;border-bottom:1px solid #fff ;overflow: hidden;padding:5px 10px;width: 129px;text-align: left;*float:none;*display:inline;*zoom:1;}
.step3ul>li .doname{font-size:14px ;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;font-weight: bold;}
.step3ul>li .doname a{color: #fff;}
.step3ul>li .dointro{font-size:12px ;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;height:20px;font-weight: bold;}

.step3ul2{border: 1px solid #dcdcdc;padding:0 15px;}
.step3ul2>li{border-bottom: 1px solid #dcdcdc; margin-bottom: -1px;padding: 12px 0;}
.step3ul2>li .doname{font-size:14px ;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;font-weight: bold;}
.step3ul2>li .doname a{color: #454aff;}
.step3ul2>li .dointro{font-size:12px ;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;font-weight: bold;color: #666;height:20px;}
.step3ul2>li p span{color: #ff6000;}


.step3ul3{border: 1px solid #dcdcdc;}
.step3ul3>li{border-left: 1px solid #dcdcdc; margin-left: -1px;border-bottom: 1px solid #dcdcdc; margin-bottom: -1px;padding: 10px 0;width: 50%;float: left;}
.step3ul3>li .doname{font-size:14px ;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;font-weight: bold;}
.step3ul3>li .doname a{color: #454aff;}
.step3ul3>li .dointro{font-size:12px ;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;font-weight: bold;color: #666;height:20px;}
.step3ul3>li p{padding-left: 15px;}
.step3ul3>li p span{color: #ff6000;}

.shopul{margin: 40px auto;display:table;}
.shopul>li{float: left;font-size: 12px; background: #f86e37;color: #fff;border-right:1px solid #fff ;border-bottom:1px solid #fff ;overflow: hidden;padding:5px 10px;width: 250px;text-align: left;*float:none;*display:inline;*zoom:1;}
.shopul>li .shopname{font-size:13px ;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;font-weight: bold;}
.shopul>li .shopname a{color: #fff;}

.shopul2{border: 1px solid #dcdcdc;padding:0 15px;}
.shopul2>li{border-bottom: 1px solid #dcdcdc; margin-bottom: -1px;padding: 12px 0;font-size: 12px;}
.shopul2>li .shopname{font-size:13px ;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;font-weight: bold;}
.shopul2>li .shopname a{color: #454aff;}
.shopul2>li p span{color: #ff6000;}


.shopul3{border: 1px solid #dcdcdc;}
.shopul3>li{border-left: 1px solid #dcdcdc;font-size: 12px; margin-left: -1px;border-bottom: 1px solid #dcdcdc; margin-bottom: -1px;padding: 10px 0;width: 50%;float: left;}
.shopul3>li .shopname{font-size:13px ;white-space: nowrap;text-overflow:ellipsis;overflow: hidden;font-weight: bold;}
.shopul3>li .shopname a{color: #454aff;}
.shopul3>li p{padding-left: 15px;}
.shopul3>li p span{color: #ff6000;}

.shopul .enameol{margin-left: 13px;}
.shopul .enameol li{list-style-type:square;color: #f9c3ad;width: 50%;float: left;}
.shopul .enameol li span{color: #fff;}

.shopul2 .enameol{margin-left: 13px;}
.shopul2 .enameol li{list-style-type:square;color: #b5b5b5;width: 50%;float: left;}
.shopul2 .enameol li span{color: #ff6000;}

.shopul3 .enameol{margin-left: 28px;}
.shopul3 .enameol li{list-style-type:square;color: #b5b5b5;}
.shopul3 .enameol li span{color: #ff6000;}

.tuiguang_list li{float: left;padding-left:20px ;position: relative;}
.tuiguang_list li p{line-height: 30px;height: 30px;}
.TemplateDId{width:110px;}
.pop_main .theme{font-size: 14px;color: #666f80;font-weight: 700;line-height: 30px;display: inline-block;}
.tuiguang_list a:hover{text-decoration: underline;}
.tuiguang_list img{border: 2px solid #bababa;}
.tuiguang_list .tuiguang_choose{color: #ff5a00;}
.tuiguang_list .tuiguang_choose img{border: 2px solid #ff7b2c;}
.tuiguang_list .imagebig{position:fixed;z-index:999;_position:absolute;}

.hot{padding: 12px 0 12px 10px;}
.hot .hot_input{height: 35px;line-height: 35px;border: 1px solid #c8cdd7;border-radius:5px ;padding: 0 5px;}
.hot .hot_tip{height: 35px;line-height: 35px;text-align: right;display: inline-block;width: 150px;color: #666f80;}
.hot .hot_cont p{height: 25px;line-height: 25px;}
.hot .hot_tishi{color: #888;background-image: url(../images/min_tip_bg.png);background-repeat: no-repeat;background-position: 0 -102.5px;padding-left: 20px;}
.warm{color: #888;background-image: url(../images/min_tip_bg.png);background-repeat: no-repeat;background-position: 0 -68px;padding-left: 20px;}
.hot .intro_area{width: 400px;height: 150px;line-height: 25px;padding: 5px;color: #888;border: 1px solid #c8cdd7; border-radius:5px ;}

.gray_box{background: #f9f9f9;margin: 10px 0;padding: 0 10px;}
.muban_title{padding:12px 20px;color: #ff6a10;background: #fff0e7;margin: 0 -10px;}
.muban_title label{font-weight: 700;}
.muban_title a{color: #ff6a10;}
.muban_title .add_card{display: inline-block;height: 28px;line-height: 28px;background-image: url(../images/allbgs.png);background-position:0 -46px ;background-repeat:no-repeat ; padding-left: 25px;margin: 0px 5px;}
.muban_title .card{display: inline-block;height: 25px;line-height: 25px;background: #ffaa77;color: #fff;padding: 0 5px;margin: 2px 5px;cursor:pointer;}
.muban_title .card.cur{background: #ff7b2c;}
.muban_title .card a{color: #fff;}
.sound_tip{font-weight: 700;margin: 20px 0;}
.sound_textarea{width: 730px;height: 120px;padding: 10px;line-height: 25px;color: #888;border: 1px solid #c8cdd7; border-radius:5px ;}
.contain_muban{position:relative;}
.intro_right{position:absolute;top:30px;right:0;width:235px;text-align:center;}
.avatar{margin: 0px auto; width: 150px;}
.intro_textarea{width: 500px;height: 120px;padding: 10px;margin: 20px 110px;line-height: 25px;color: #888;border: 1px solid #c8cdd7; border-radius:5px ;}

.ad_table{padding: 10px;margin: 0 auto;}
.ad_table td{line-height: 50px;padding:5px 10px;vertical-align:top;}
.ad_table td.title{color: #ff6a10;font-weight: 700;}
.gray_box input.text{padding:0 5px;border: 1px solid #c8cdd7;border-radius:5px ;height: 35px; line-height: 35px;}

/*弹框*/
.pop_box{background:#000;opacity:0.7;/*非IE滤镜*/filter:alpha(opacity=70);/*IE滤镜*/z-index:997;position:fixed;left:0px;top:0px;width:100%; height:100%;overflow:hidden;zoom:1}
*html 
{background: url(*) fixed; } 
*html body 
{margin: 0;height: 100%;} 
/*IE6*/ 
*html .pop_box 
{position:absolute; 
left:expression(documentElement.scrollLeft + documentElement.clientWidth - this.offsetWidth); 
top:expression(documentElement.scrollTop + documentElement.clientHeight - this.offsetHeight); 
} 
/*ie6 遮罩select*/
.pop_box iframe{width:100%;height:100%;position:absolute;top:0;left:0;z-index:-1;filter:alpha(opacity=0);opacity:0.7;}
.pop_main{position:absolute;_position:absolute;top:20%;left:50%;margin-left:-340px;width:680px;background:#fff;z-index:999;zoom:1;}
.pop_main .pop_hd{height:30px;padding:12px 10px;background:#537ac5;color:#fff;}
.pop_main .pop_hd h3{font-size:16px;line-height:30px;font-weight:700;}
.pop_main .pop_hd .pop_close{float:right;font-size:24px;line-height:30px;color:#fff;padding:0 6px;}
.pop_main .pop_bd{margin:15px;}

.pop_main .pop_bd .pop_tip{background: #fef0e5;padding: 10px;color: #ff5a00;font-size: 12px;}
.pop_main .pop_bd .pop_tip a{display: inline-block;}
.pop_main .pop_top{text-align: center;font-weight: 700;font-size: 20px;color: #666f80;padding-bottom: 20px;}
.success_top{display: inline-block;height: 40px;line-height: 40px; background-image:url(../images/allbgs.png) ;background-repeat:no-repeat ;background-position:0 -107px ; padding-left: 45px;color: #46ba00;}
.pop_area{width: 560px;height: 150px;background: #f5f5f5;line-height: 20px;font-size: 12px;padding: 10px;border: 1px solid #c8cdd7;color: #444;}

.nofound{background: url(../images/nofound.jpg) no-repeat center;text-align: center;position: relative;padding-top: 400px;}
.nofound .nod404{font-size: 91px;line-height: 110px;}
.nofound .nopages{font-size: 37px;}

.suc_fail_box{width: 680px;margin: 130px auto 500px;height: 160px;padding-left: 110px;}
.suc_fail_box h3{font-size: 20px;font-weight: 700;padding-top: 43px;padding-bottom: 30px;}
.suc_fail_box a{color: #0c73b7;}
.suc_fail_box a:hover{text-decoration: underline;}
.suc_fail_box p{color: #d0d0d0;}
.suc_box{background:#def4bb url(../images/suc_fail.png) no-repeat 0 0;}
.suc_box h3{color: #0db200;}
.fail_box{background:#feddd8 url(../images/suc_fail.png) no-repeat 0 -160px;}
.fail_box h3{color: #fe4646;}
/*专题页**/

section,article{width: 100%;height: 100%;min-width: 1000px;position: relative;}

#section1{background: url(../images/session1_bg.jpg) no-repeat;background-size:100% 100% ;}
#section2{background: url(../images/session2_bg.jpg) no-repeat;background-size:100% 100% ;}
#section3{background: url(../images/session3_bg.jpg) no-repeat;background-size:100% 100% ;}
#section4{background: url(../images/session4_bg.jpg) no-repeat;background-size:100% 100% ;}
#section1 .bot2{background: url(../images/session2.png) no-repeat center top;width: 100%;height: 100%;}
#section1 .bot{background: url(../images/session1.png) no-repeat center top;width: 100%;height: 100%;}
#section1 .cont{background: url(../images/session1_bot.png) no-repeat center bottom;width: 100%;height: 100%;position: absolute;left: 0;bottom: 0;}

#section2 .goto_box{padding-top: 13%;padding-left: 50%;width: 560px;text-align: center;}
.gotobtn,#section3 .mishibtn,#section4 .nowbtn{background: none; background-image: url(../images/btn_bg.png);background-repeat: no-repeat ;height:55px ;line-height:50px ; width: 160px;text-align: center; font-size: 25px;color: #fff;border: none;border: 0;border-radius:5px ;cursor: pointer;margin: 10px auto;}
.gotobtn a,#section3 .mishibtn a,#section4 .nowbtn a{color: #fff;}
#section2 .bot{background: url(../images/session2_bot.png) no-repeat center bottom;width: 100%;height: 100%;position: absolute;left: 0;bottom: 0;}
.gotobtn span,#section3 .mishibtn span,#section4 .nowbtn span{line-height: 50px;}
.gotobtn{background-position: 0 0;background-size: 100%;}

#section3 .bot{background: url(../images/session3_bot.png) no-repeat center bottom;width: 100%;height: 100%;position: absolute;left: 0;bottom: 0;}
#section3 .mishibtn{background-position: 0 -55px;color: #ed4022;}

#section4 .bot_box{width: 100%;height: 100%;position: absolute;left: 0;bottom: 0;}
#section4 .bot{width: 100%;height: 70%;position: absolute;left: 0;bottom: 0;text-align: center;}
#section4 .bot img{height: 100%;max-width: 100%;}
#section4 .nowbtn{background-position: 0 -110px;}
#section4 .ses4_text{position: absolute;bottom: 0;left: 0;width:100%;text-align: center;font-size: 26px;color: #fff;padding-bottom: 25px;}
#section4 .ses4_text p a{color: #ffee32;}
.section .text_box{margin: 3% auto;text-align: center;visibility: hidden;opacity: 0;-webkit-transform: translateY(-30px);-ms-transform: translateY(-30px);transform: translateY(-30px);-webkit-transition: all 1s ease-out;transition: all 1s ease-out;}
.fadeInDown .text_box,#section2 .fadeInDown .goto_box{visibility: visible;opacity: 1;-webkit-transform: translateY(0);-ms-transform: translateY(0);	transform: translateY(0);}

#section2 .goto_box{opacity: 0;-webkit-transform: translateY(-30px);-ms-transform: translateY(-30px);transform: translateY(-30px);-webkit-transition: all 1s ease-out;transition: all 1s ease-out;}

#zhuanti1{background: url(../images/topic/zhuanti_bg1.jpg) no-repeat;background-size:100% 100% ;}
#zhuanti2{background: url(../images/topic/zhuanti_bg2.jpg) no-repeat;background-size:100% 100% ;}
#zhuanti3{background: url(../images/topic/zhuanti_bg3.jpg) no-repeat;background-size:100% 100% ;}
#zhuanti4{background: url(../images/topic/zhuanti_bg4.jpg) no-repeat;background-size:100% 100% ;}
#zhuanti5{background: url(../images/topic/zhuanti_bg5.jpg) no-repeat;background-size:100% 100% ;}
#zhuanti6{background: url(../images/topic/zhuanti_bg6.jpg) no-repeat;background-size:100% 100% ;}

/*帮助中心 **/
.helpcenterul{padding: 0 30px;}
.helpcenterul li{line-height: 30px;}

.help_search_box{text-align: center;margin: 20px 0;}
.help_search_box .help_search{background: url(../images/help_serch_bg.png) no-repeat center center;height: 45px;width:380px;border: none;overflow: hidden;margin: 0 auto;position: relative;text-align: left;}
.help_search_box .help_search_inp{border: none;border: 0;background: none;height: 25px;line-height: 25px; margin-top:10px; width: 263px;font-size: 16px;padding-left: 38px;}
.help_search_box .help_search_btn{width:80px;height:45px;position:absolute;top:0;right:0;cursor:pointer;color:#fff;text-align:center;border: 0;background: none;}
.help_search_box .common_use{text-align: left;margin:10px;margin-left: 195px;color: #666f80;}
.help_search_box .common_use label{font-weight: 700;}
.help_search_box .common_use a{padding-left: 15px;}
.help_search_box .common_use a:hover,.noun_box .nouns_nox a:hover,.nom_problem_box .nom_problem_ul li a:hover{text-decoration: underline;}

.nom_problem_box{margin: 10px 0;}
.nom_problem_box h3 {color: #666f80;font-weight: 700;margin-top: 10px;background: #f5f5f5;height: 50px;line-height: 50px;padding-left: 15px;}
.nom_problem_box .nom_problem_ul li{line-height: 50px;border-bottom: 1px solid #eee;padding-left: 15px;}

#banner1{background: url(../images/topic/banner.jpg) no-repeat center top;height: 420px;width: 100%;}
#banner2{background: url(../images/topic/banner2.jpg) no-repeat center top;height: 420px;width: 100%;}

.gotop{width: 66px;height: 66px;background-image: url(../images/gotop.png) ;background-position: center top;background-repeat: no-repeat; position: absolute;top: 50%;right: 20px;margin-top: -33px;cursor: pointer;}
.gotop2{background-position: center -72px;}
.suc_jiexi ,.fal_jiexi {padding: 10px 25px;font-size: 16px;}
.suc_jiexi h3,.fal_jiexi h3{background-image: url(../images/suc_fail2.png);background-repeat: no-repeat;height: 50px;line-height: 50px;font-weight: bold;font-size: 20px;padding-left: 60px;}
.suc_jiexi li,.fal_jiexi li{padding: 8px 62px;}
.suc_jiexi h3{color: #46ba00;background-position: 0 0px; }
.fal_jiexi h3{color: #ef5261;background-position: 0 -62px;}
.myshowpage{padding:0px 86px 16px; }
.myshowpage a:hover{text-decoration: underline; }
.lookall_box{background: #e9f3fc;margin: 10px 0;padding: 5px 0;text-align: center;}
.lookall_box a:hover{text-decoration: underline; }
.xiangqing_tab th{font-weight: normal;}
.xiangqing_tab td,.xiangqing_tab th{border: 0;padding: 5px; background:#f3f3f5;}
.have_problem{background: url(../images/topic/problem.png) no-repeat center center;display: inline-block;width: 15px;height: 13px;vertical-align: middle;margin-top:-3px;}

.clock_box{position:relative;}
.clock_box em{position:absolute;top:-5px;left:30px;border:1px solid #ccc;width:60px;text-align:center;font-size:12px;border-radius: 2px;}

.rank_ul{width:100%;}
.rank_ul li{float:left;margin:0 10px;background:#fff; overflow:hidden;padding:0 10px;}
.rank_ul .rank_title{background:url(../images/tab.jpg) left center repeat-x;color:#666f80;font-size:18px;line-height:50px;padding:0 10px;margin-left:-10px; margin-right:-10px;}

.rank_tab{width:100%;margin-bottom:-1px;}
.rank_tab td{line-height:50px;border-bottom:1px dashed #e6e6e6;}
.rank_tab td span{color:#fe690f;}
.rnc_tab .rank_top{background-image:url(../images/crown.png);background-repeat:no-repeat;padding-left:30px;background-position: -8px -155px;}
.rnc_tab .rank_top.rank_top1{background-position:-8px -6px;}
.rnc_tab .rank_top.rank_top2{background-position:-8px -55px;}
.rnc_tab .rank_top.rank_top3{background-position:-8px -104px;}

.mnc_tab .rank_top{background-image:url(../images/purse.png);background-repeat:no-repeat;padding-left:30px;background-position: -8px -155px;}
.mnc_tab .rank_top.rank_top1{background-position:-8px -6px;}
.mnc_tab .rank_top.rank_top2{background-position:-8px -55px;}
.mnc_tab .rank_top.rank_top3{background-position:-8px -104px;}

.search_lab{width:75px;display:inline-block;text-align: right;}
.foot .copyright .gongwanghao:hover{color:#ff6a00;}
.multiple {
    height: 85px;
    position: absolute;
}
.deletions {
    display:block;
    font-size: 16px;
    font-weight: 700;
    height: 16px;
    line-height: 16px;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 14px;
    right:20px;
    width: 16px;
}
.d_suffix {

    top: 4px;
}
body.link-expire {
	background-color: #DAD8D9;
	text-align: center;
}
.tip-b {
	display: inline-block;
	position: relative;
}
.tip-text a{
	position: absolute;
	left: 170px;
	top: 515px;
	text-decoration: none;
	width: 145px;
	font-size: 36px;
	font-family: "Microsoft YaHei";
	color: #F87600;
}

/*邮件订阅 **/
.subscribe-mail .main_box {
	position: relative;
	height: 730px;
}

.subscribe-mail .tip-box {
	width: 790px;
	height: 418px;
	position: absolute;
	left: 0;
	right: 0;
	top: 120px;
	margin: auto;
	background-color: #fff;
	box-sizing: border-box;
}

.subscribe-mail .tip-title {
    line-height: 50px;
    color: #ff6a10;
	font-family: "Microsoft YaHei";
	font-size: 16px;
	font-weight: 700;
	background-color: #FEF0E7;
	padding-left: 20px;
}

.subscribe-mail .tip-content {
	padding: 45px 45px 0 45px;
}

.subscribe-mail .tip-content .break {
	padding-top: 25px;
	border-bottom: 1px solid #E2E5EC;
}

.subscribe-mail .tip-item {
	margin-bottom: 32px;
}

.subscribe-mail .tip-item input {
	color: #666f80;
	font-family: "Microsoft YaHei";
	font-size: 14px;
	font-weight: 400;
}

.subscribe-mail .tip-confirm {
	margin-top: 20px;
    text-align: center;
}

.subscribe-mail .confirm {
	cursor: pointer;
	outline: 0;
	font-family: "Microsoft YaHei";
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	color: #fff;
	width: 84px;
	height: 34px;
	border: none;
	background-color: #ff7b2c;
	border-radius: 4px;
	border-radius: 4px;
	margin-right: 6px;
}

.subscribe-mail .cancle {
	cursor: pointer;
	outline: 0;
	font-family: "Microsoft YaHei";
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	color: #666f80;
	width: 84px;
	height: 34px;
	border: 1px solid #9FA7BA;
	background-color: #fff;
	border-radius: 4px;
	border-radius: 4px;
	margin-left: 6px;
}